<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context.xsd
						http://www.springframework.org/schema/aop
						http://www.springframework.org/schema/aop/spring-aop.xsd">							

	<bean id='xml1' class='kr.co.softcampus.beans.TestBean'/>
	
	<bean id='advisor1' class="kr.co.softcampus.advisor.AdvisorClass"/>
	
	<aop:config>
		<aop:aspect ref='advisor1'>
		<!-- 모든 패키지의 모든 클래스의 method1을 관심사로 설정한 것 -->
			<aop:pointcut id="point1"  expression="execution(* method1())"/>
			
			<!-- execution(*method)가 동작하게 되면  advisor1이 가지고 있는 beforeMethod를 호출시켜라-->
			<aop:before method="beforeMethod" pointcut-ref="point1"/>
		</aop:aspect>
	</aop:config>
</beans>